<%- include('partials/header') %>

<div class="header">
    <h1 id="dashboard-title" data-translate="dashboardTitle">Admin Dashboard</h1>
</div>

<div class="container">
    <div class="dashboard-buttons">
        <a href="/brand" id="manage-brands" data-translate="manageBrands">Manage Brands</a>
        <a href="/category" id="manage-categories" data-translate="manageCategories">Manage Categories</a>
        <a href="/subcategory" id="manage-subcategories" data-translate="manageSubcategories">Manage Subcategories</a>
        <a href="/product" id="manage-products" data-translate="manageProducts">Manage Products</a>
    </div>
    <button id="logout-btn" class="btn logout-btn" data-translate="logout">Logout</button>
</div>



<%- include('partials/footer') %>
